 <div class="user-details">
  <h1> Definition </h1>
  <p> {{site.user_description}} </p>
   <!-- hitwebcounter Code START -->
   <a href="https://www.hitwebcounter.com" target="_blank">
     <img src="https://hitwebcounter.com/counter/counter.php?page=7958210&style=0001&nbdigits=3&type=page&initCount=0" title="Free Counter" Alt="web counter"   border="0" /></a>

 </div>
  <div class="user">
      <hr>
    <div class="tech">
      <h2>Programmes utilisés</h2>
      <img src="/assets/img/mp.png" alt="MPLAB X IDE " style="width:90px;height:90px;">
      <img src="/assets/img/pr.png" alt="PROTEUS 8" style="width:130px;height:90px;">
      <p>pLes programmes utilisés au cour de cette semaine sont
       MPLAB X IDE  , XC8 et Proteus 8 (Cracké si vous avez pas trouver la version originale) </p>
    </div>

</div>
