 <div class="user-details">
  <h1> Definition </h1>
  <p> {{site.user_description}} </p>
   
 </div>
  <div class="user">
      <hr>
    <div class="tech">
      <h2>Programmes utilisés</h2>
     div class="images-right">
    <img alt="mountains" style="width:90px;height:90px;" src="{{ "/assets/img/mp.png" | prepend: site.baseurl }}" />
  </div>
      <img src="/assets/img/mp.png" alt="MPLAB X IDE " style="width:90px;height:90px;">
      <img src="/assets/img/pr.png" alt="PROTEUS 8" style="width:130px;height:90px;">
      <p>Les programmes utilisés au cour de cette semaine sont
       MPLAB X IDE  , XC8 et Proteus 8 (Cracké si vous avez pas trouver la version originale) </p>
    </div>

</div>
