<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>

      <div class="header-links">
        <a class="link" href="#about" data-scroll>Ce projet est très enrichissant dans la mesure où il a consisté en une approche concrète du métier d’ingénieur. En effet, la prise d’initiative, le respect des délais et le travail en équipe seront des aspects essentiels que nous apprenons dans cet expérience .  nous remercions également nos proffs<b> Mr SAKRANI </b> et <b>Mr CHARAABI </b> pour leurs soutiens durant la semaine système .</a>

      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
