<hr>
<div class="user-details">
  <h1>Planning du semaine systeme </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" style="width:500px;height:400px;" src="{{ "/assets/img/1.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Blinking led  </h3>
    <ul>
      <li> Etapes du travail </li>
    </ul>
    <p>-ouvrir MPLABX et créer un nouveau projet <br>
      -désactiver le mode WatchDog <br>
      - ouvrir le fichier source et écrire le code <br>
      - lancer Poroteus  apporter le PIC18f4550 , le LED BIBY  <br>
      -cliquez sur le bouton droite de votre souris .. choisissez "place" puis "Terminal" et importez "GROUND" et après "POWER"<br>
      -branchez le tout suivant le schéma suivant <br>
      -importez votre projet MplabX en copiant son chemin dans l'espace dédié.
    </p>

    <a class="project-link" href="assets/files/BlinkingLed.zip">Code source</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" style="width:500px;height:400px;" src="{{ "/assets/img/2.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> LCD 20 x 2  </h3>
    <ul>
      <li> Etapes du travail </li>
    </ul>
    <p>-ouvrir MPLAB et ouvrir le fichier source  <br>
      - lancer Poroteus et apporter le PIC18f4550<br>
      -apporter l’afficheur LCD 20 x 2 ;<br>
      -cliquez sur le bouton droite de votre souris .. choisissez "place" puis "Terminal" et importez "GROUND" et après "POWER"<br>
      -branchez le tout suivant le schéma suivant .<br>
      -importez votre projet MPLAB en copiant son chemin dans l'espace dédié.</p>
    <a class="project-link" href="#">Code source</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" style="width:500px;height:400px;" src="{{ "/assets/img/3.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> LCD et KEYPAD 4x4 </h3>
    <ul>
      <li> Etapes du travail </li>
    </ul>
    <p>Ouvrir MPLABX et ouvrir le fichier source <br>
      - lancer Poroteus et apporter le PIC18f4550<br>
      -apporter l’afficheur alphanumérique  LCD 20 x 2 <br>
      -apporter le clavier matriciel keypab 4 x4<br>
      -cliquer sur le bouton droite de votre souris .. choisisser "place" puis "Terminal" et importez "GROUND" et après "POWER"  <br>
      -branchez le tout suivant le schéma suivant .

      -importez votre projet MplabX en copiant son chemin dans l'espace dédié..</p>

    <a class="project-link" href=""assets/files/sysweekk.zip"">Code source</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" style="width:500px;height:400px;" src="{{ "/assets/img/4.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>  Projet final de la semaine  </h3>
    <ul>
      <li> le but de cette partie est de rassembler tout ce qui précède sous un seul projet </li>
    </ul>
    <p>-Récupérer le dossier qui comporte les fichiers ainsi que une vidéo démonstratif en utilisant la commande scp sous linux<br>
      -	-Faire le câblage sur Proteus suivant la vidéo<br>
      -	-Ouvrir les fichiers et commencer à coder le main avec les fonctions adéquates<br>
      -	-Tester le programme à chaque modification<br>
      -	-Tester des années différentes pour être sur de la validité du programme</p>
    <a class="project-link" href="/assets/files/sysweekk.zip">Code source</a>
  </div>
</div>
